<div class="width">
  <mat-card>
    <mat-card-title>
      <div fxFlex>
        <button mat-raised-button color="primary" mat-raised-button (click)="back()">
        <!--mat-icon class="tc-white-700">arrow_back</mat-icon-->Back
      </button>
      </div>
      <div class="text-center" fxFlex="100">
        {{workGroup?.mpCategory}} - {{workGroup?.defaultName}} {{workGroup?.customName}}
      </div>
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item>
        <div fxFlex="80"></div>
        <div *ngFor="let category of categoriesToDisplay" fxFlex="20" class="pad-sm text-center tc-black text-lg">
          {{category}} Flight
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <ng-template let-member let-last="last" ngFor [ngForOf]="rosterInfos">

        <mat-list-item>

          <mat-icon matListAvatar>person</mat-icon>
          <div fxFlex="80" class="md-subhead text-left pad-sm">
            {{member?.rankName}}
          </div>

          <div fxFlex="20" *ngFor="let category of categoriesToDisplay" class="md-subhead text-center pad-sm">
            {{(member?.flights[category]) ? member?.flights[category] : 'None'}}
          </div>
          <div fxFlex></div>
        </mat-list-item>
        <mat-divider *ngIf="!last" md-inset></mat-divider>


      </ng-template>

    </mat-list>

  </mat-card>
</div>


<!-- <mat-card class="width">
    <mat-card-title>
      <div>
          <button mat-raised-button color="primary" [routerLink]="['../..']">
              <mat-icon class="tc-white-700">arrow_back</mat-icon>Back to WorkGroups
          </button>
      </div>
      <div fxFlex class="text-left">
         {{workGroup?.mpCategory}} - {{workGroup?.defaultName}}
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
  <mat-list fxFlex="100">
  <mat-list-item>
    <span fxFlex="60">Student</span>
    <span fxFlex="20">BC2 Flight</span>
    <span fxFlex="20">BC3 Flight</span>
  </mat-list-item>
    <mat-divider></mat-divider>

    <ng-template let-member let-last="last" ngFor [ngForOf]="groupMembers">
      <mat-list-item>
        <mat-icon mat-list-avatar>person</mat-icon>
        <h3 matLine> {{member?.rankName}} </h3>

      </mat-list-item>
      <mat-divider *ngIf="!last" md-inset></mat-divider>
    </ng-template>
  </mat-list>
</mat-card> -->