<mat-card-title *ngIf="!grpHasComments">This group did not leave any comments.</mat-card-title>
<mat-card-content *ngIf="grpHasComments" fxLayout="row">
  <mat-list fxFlex="1 1 calc(20em + 20px)">
    <mat-list-item>AUTHORS</mat-list-item>
    <mat-list-item *ngFor="let author of memsWithComments" [ngClass]="{'selected': this.selectedAuthor == author }" (click)="this.changeAuthor(author)" style="cursor:pointer">
      <span>{{author?.prettyName}}</span>
      <span fxFlex></span>
      <span *ngIf="author.numRemaining > 0" class="mat-caption pad-right-xs"><mat-icon>flag</mat-icon>{{author?.numRemaining}} </span>
      <span *ngIf="author.apprFlags > 0" class="mat-caption pad-right-xs"><mat-icon class="tc-green-700">done</mat-icon>{{author?.apprFlags}} </span>
      <span *ngIf="author.inapprFlags > 0" class="mat-caption"><mat-icon class="tc-red-700">highlight_off</mat-icon>{{author?.inapprFlags}}</span>
    </mat-list-item>
  </mat-list>
  <span fxFlex=".1"></span>
  <mat-list fxFlex="1 1 calc(20em + 20px)">
    <mat-list-item>
      <button mat-raised-button [mat-menu-trigger-for]="menu" class="selected" fxFlex="stretch" [disabled]="viewOnly">Mass Flag<mat-icon style="color:white">expand_more</mat-icon></button>
      <span></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="massSetAll()">Set All</button>
        <button mat-menu-item (click)="massResetAll()">Reset All</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="massSetAuthor()">Set Selected Author's</button>
        <button mat-menu-item (click)="massResetAuthor()">Reset Selected Author's</button>
      </mat-menu>
    </mat-list-item>
    <mat-list-item>RECIPIENTS</mat-list-item>
    <mat-list-item *ngFor="let comment of authoredComments" [ngClass]="{'selected': this.selectedComment == comment }" (click)="this.selectedComment = comment" style="cursor:pointer">
      <span>{{comment?.recipient?.prettyName}}</span>
      <span fxFlex></span>
      <mat-icon [ngClass]="(comment?.flag?.mpFaculty === this.commFlagMap.inappr) ? 'tc-red-700' : 'tc-green-700'">{{comment.icon}}</mat-icon>
    </mat-list-item>
  </mat-list>
  <span fxFlex=".5"></span>
  <mat-card fxFlex="grow" style="align-self: flex-start">
    <mat-card-content style="word-break: break-all; min-height: 150px; overflow-x: auto">
      <div fxLayout="row">
        <span class="mat-subheading-1">Comment Type: {{selectedComment?.requestAnonymity ? 'Anonymous' : 'Signed'}}</span>
        <span fxFlex></span>
        <span class="mat-subheading-1">Last Modified: {{selectedComment?.displayDate}}</span>
      </div>
      <p>{{selectedComment?.commentText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [ngClass]="{'appr': this.selectedComment?.flag?.mpFaculty === this.commFlagMap.appr}" (click)="this.selectedComment?.flag.mpFaculty = this.commFlagMap.appr; this.checkComplete()" [disabled]="viewOnly && this.selectedComment?.flag?.mpFaculty !== this.commFlagMap.appr">Appropriate</button>
      <button mat-raised-button [ngClass]="{'inappr': this.selectedComment?.flag?.mpFaculty === this.commFlagMap.inappr}"  (click)="this.selectedComment?.flag.mpFaculty = this.commFlagMap.inappr; this.checkComplete()" [disabled]="viewOnly && this.selectedComment?.flag?.mpFaculty !== this.commFlagMap.inappr">Inappropriate</button>
    </mat-card-actions>
  </mat-card>
</mat-card-content>
<mat-divider></mat-divider>
<mat-card-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="primary" (click)="this.discard()" [disabled]="!hasChanges || viewOnly">Cancel</button>
  <button mat-raised-button color="primary" (click)="this.save()" [disabled]="!hasChanges || viewOnly">Save</button>
</mat-card-actions>
