<mat-list>
  <h3 matSubheader>Instructor Information</h3>
  <mat-list-item>
    <mat-icon matListAvatar>description</mat-icon>
    <h4 matLine>{{profile?.academyId}}</h4>
    <p matLine>Academy</p>
  </mat-list-item>
  <mat-divider mat-inset></mat-divider>
  <mat-list-item>
    <mat-icon matListAvatar>description</mat-icon>
    <h4 matLine>{{profile?.isCourseAdmin}}</h4>
    <p matLine>Instructional System Admin</p>
  </mat-list-item>
  <mat-divider mat-inset></mat-divider>
  <mat-list-item>
    <mat-icon matListAvatar>description</mat-icon>
    <h4 matLine>{{profile?.isReportViewer}}</h4>
    <p matLine>Report Viewer</p>
  </mat-list-item>
</mat-list>