<mat-card-title>Move {{student.rankName}}</mat-card-title>
<mat-divider></mat-divider>
<mat-list class="pad-bottom-md" fxLayout="column" fxLayoutAlign="center center">
  <mat-list-item>
    <div class="pad-left-sm">
      <h5 class="mat-subheading-1" *ngIf="!fromUnassigned">From: Flight {{fromNum}}</h5>
      <h5 *ngIf="fromUnassigned">From: Unassigned</h5>
    </div>
  </mat-list-item>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-list-item>
      <div class="pad-left-sm">
        <mat-form-field>
          <mat-select placeholder="To Flight:" [disabled]="unassign === true" [(ngModel)]="selFlight">
            <mat-option *ngFor="let flight of flightNums" [value]="flight">{{ flight }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="pad-left-xs">
        <button mat-raised-button (click)="unassign = !unassign" [ngClass]="{'btn-selected': unassign===true}" [disabled]="fromUnassigned">
          Set Unassigned
        </button>
      </div>
    </mat-list-item>

  </div>
</mat-list>
<mat-card-actions class="pad-top-sm pad-bottom-none pull-bottom-none" fxLayoutAlign="end">
  <button mat-stroked-button color="primary" type="button" class="text-upper" (click)="close();">Cancel</button>
  <button mat-raised-button color="primary" type="button" (click)="ok()" class="text-upper" [disabled]="selFlight === '' && unassign === false">Ok</button>
</mat-card-actions>