<td-layout-nav logo="" toolbarTitle="ECAT - Cognitive Assessment">
    <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
    </button>
  <div td-toolbar-content fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <span fxFlex></span>
    <a mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
      <mat-icon>chrome_reader_mode</mat-icon>
    </a>
    <a mat-icon-button matTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
      <mat-icon svgIcon="assets:github"></mat-icon>
    </a>
  </div>

  <div class="width">

    <mat-card>

      <mat-card-title fxLayoutAlign="center center">{{cogName}}</mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content *ngIf="showInstructions">
        <div [innerHTML]="cogInventories[0].instrument.cogInstructions"></div>
      </mat-card-content>

      <mat-card-content *ngIf="!showInstructions">
        <div [ngSwitch]="cogAssessId" tdMediaToggle="gt-xs" class="pad-sm">
          <!--matches component variable -->
          <ecpe-assess *ngSwitchCase="1"> </ecpe-assess>
          <esalb-assess *ngSwitchCase="2"> </esalb-assess>
          <ecmspe-assess *ngSwitchCase="3"> </ecmspe-assess>
          <etmpre-assess *ngSwitchCase="4"> </etmpre-assess>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions *ngIf="showInstructions">
        <button mat-button color="primary" (click)="showInstructions = false">Continue Assessment</button>
      </mat-card-actions>

      <mat-card-actions fxLayout="row" *ngIf="!showInstructions">
        <button mat-button color="primary" (click)="showInstructions = true">Show Instructions</button>
        <div fxFlex></div>
        <button mat-button color="primary" (click)="cancelAssess();">Cancel</button>
        <button mat-button color="primary" [disabled]="!readyToSave" (click)="saveAssess();">Complete Assessment</button>
      </mat-card-actions>

    </mat-card>

  </div>

</td-layout-nav>