<mat-card class="width">
  <mat-card-title>
    <button mat-raised-button color="primary" [routerLink]="['../..']">Back</button>
    <div fxFlex="100" class="text-center">
      {{course?.name}} - {{course?.classNumber}} Group Management
    </div>
    <span fxFlex></span>
    <button mat-icon-button (click)="this.refreshData()"><mat-icon>autorenew</mat-icon></button>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span fxFlex="30">CATEGORY ID</span>
        <span fxFlex="30">NAME</span>
        <span fxFlex="30"># OF GROUPS</span>
        <span fxFlex="30">OVERALL STATUS</span>
        <span fxFlex="10"></span>
      </mat-list-item>
      <mat-list-item *ngFor="let model of wgModels">
        <span fxFlex="30">{{model.mpWgCategory}}</span>
        <span fxFlex="30">{{model.name}}</span>
        <span fxFlex="30">{{model.workGroups.length}}</span>
        <span fxFlex="30">{{model.status}}</span>
        <span fxFlex="10">
          <div>
            <mat-menu #appMenu="matMenu" yPosition="below" xPosition="before">
              <button mat-menu-item [routerLink]="[model.mpWgCategory + '/config']" *ngIf="model.status === testStatus.await && model.mpWgCategory !== catMap.bc1"> 
                <mat-icon> group_add </mat-icon>
                <span class="mat-subheading-1"> Create </span>
              </button>
              <button mat-menu-item (click)="pollLmsGroups()" *ngIf="model.status !== testStatus.reviewed && model.status !== testStatus.pub && model.mpWgCategory === catMap.bc1"> 
                <mat-icon> file_download </mat-icon>
                <span class="mat-subheading-1"> Poll LMS </span>
              </button>
              <button mat-menu-item [routerLink]="[model.mpWgCategory + '/manage']" *ngIf="model.status !== testStatus.await"> 
                <mat-icon> group </mat-icon>
                <span class="mat-subheading-1" *ngIf="model.status === testStatus.created || model.status === testStatus.inUse || model.status === testStatus.reviewed"> Manage </span>
                <span class="mat-subheading-1" *ngIf="model.status === testStatus.pub"> View </span>
              </button>
              <button mat-menu-item (click)="advance(model)" *ngIf="model.status !== testStatus.pub && model.status !== testStatus.await"> 
                <mat-icon> forward </mat-icon>
                <span class="mat-subheading-1" *ngIf="model.status === testStatus.created"> Open </span>
                <span class="mat-subheading-1" *ngIf="model.status === testStatus.inUse || model.status === testStatus.reviewed"> Publish </span>
              </button>
              <button mat-menu-item (click)="syncGrades(model)" *ngIf="model.status === testStatus.pub">
                <mat-icon>file_upload</mat-icon>
                <span class="mat-subheading-1">Push Grades</span>
              </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
