:host /deep/ { 
    .mat-list .mat-list-item.mat-2-line .mat-list-item-content, .mat-nav-list .mat-list-item.mat-2-line .mat-list-item-content {
        height: 70px;
    }

    .mat-list-item {
        height: 70px;
    }

    .large-icon {
        font-size: 40px
    }
}

.bold {
    font-weight: 600;
}

.border-top {
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #e0e0e0;
}

.height {
    height: auto;
}