<div class="width pad-bottom-xxl">
  <ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="overlay">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row">
          <div fxFlex>
            <button mat-raised-button color="primary" (click)="back()">Back</button>
          </div>
        
          <div fxFlex="grow" class="text-center">
            {{wgName}} - {{workGroup.mpSpStatus}}
          </div>

          <div fxFlex></div>
          <div fxLayout="row">
            <button mat-raised-button *ngIf="workGroup.mpSpStatus === statusMap.underReview || workGroup.mpSpStatus === statusMap.reviewed" (click)="this.reopenFlight()">{{reopenBtnText}}</button>
            <button mat-raised-button *ngIf="workGroup.mpSpStatus === statusMap.open || workGroup.mpSpStatus === statusMap.underReview || workGroup.mpSpStatus === statusMap.reviewed" (click)="this.reviewFlight()" [ngClass]="canReview ? 'can-review' : 'no-review'" [disabled]="workGroup.mpSpStatus === statusMap.created">{{reviewBtnText}}</button>
            <button mat-icon-button (click)="this.refreshData()"><mat-icon>autorenew</mat-icon></button>
          </div>
        </div>
      </mat-card-title>
      <mat-tab-group [(selectedIndex)]="tabIndex">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">assessment</mat-icon>
            Assess
            <mat-icon class="small-tab-icon" *ngIf="workGroup.mpSpStatus !== statusMap.published" [ngClass]="(assessComplete) ? 'tc-green-700' : 'tc-red-700'">{{assessStatusIcon}}</mat-icon>
          </ng-template>
          <assess [members]="members"></assess>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">format_list_numbered</mat-icon>
            Strat
            <mat-icon class="small-tab-icon" *ngIf="workGroup.mpSpStatus !== statusMap.published" [ngClass]="(stratComplete) ? 'tc-green-700' : 'tc-red-700'">{{stratStatusIcon}}</mat-icon>
          </ng-template>
          <strat [members]="members"></strat>
        </mat-tab>
        <mat-tab [disabled]="!showComments">
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">comment</mat-icon>
            Review Comments
            <mat-icon class="small-tab-icon" *ngIf="!showComments && workGroup.mpSpStatus !== statusMap.published">lock</mat-icon>
            <mat-icon class="small-tab-icon" *ngIf="showComments && workGroup.mpSpStatus !== statusMap.published" [ngClass]="(commentsComplete) ? 'tc-green-700' : 'tc-red-700'">{{commentStatusIcon}}</mat-icon>
          </ng-template>
          <comments *ngIf="showComments" [members]="members"></comments>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </ng-template>
</div>
<a style="z-index: 9999;" mat-fab color="primary" class="mat-fab-bottom-right fixed" [routerLink]="['../../status', workGroupId]" *ngIf="workGroup.mpSpStatus !== statusMap.published"
matTooltip="Go To Status" matTooltipPosition="left">
  <mat-icon>check_circle</mat-icon>
</a>
<a style="z-index: 9999;" mat-fab color="primary" class="mat-fab-bottom-right fixed" [routerLink]="['../../results', workGroupId]" *ngIf="workGroup.mpSpStatus === statusMap.published"
matTooltip="Go To Results" matTooltipPosition="left">
  <mat-icon>data_usage</mat-icon>
</a>