<div *tdLoading="'studentProfileLoading'">
  <mat-list>
    <h3 matSubheader>Student Information</h3>
    <div *ngIf="!isEditing">
      <mat-list-item>
        <mat-icon matListAvatar>description</mat-icon>
        <h4 matLine>{{profile?.contactNumber}}</h4>
        <p matLine>Contact Number</p>
      </mat-list-item>
      <mat-divider mat-inset></mat-divider>
      <mat-list-item>
        <mat-icon matListAvatar>description</mat-icon>
        <h4 matLine>{{profile?.homeStation}}</h4>
        <p matLine>Home Station</p>
      </mat-list-item>
      <mat-divider mat-inset></mat-divider>
      <mat-list-item>
        <mat-icon matListAvatar>description</mat-icon>
        <h4 matLine>{{profile?.commander}}</h4>
        <p matLine>Unit Commander</p>
      </mat-list-item>
      <mat-divider mat-inset></mat-divider>
      <mat-list-item>
        <mat-icon matListAvatar>description</mat-icon>
        <h4 matLine>{{profile?.commanderEmail}}</h4>
        <p matLine>Unit Commander Email</p>
      </mat-list-item>
      <mat-divider mat-inset></mat-divider>
      <mat-list-item>
        <mat-icon matListAvatar>description</mat-icon>
        <h4 matLine>{{profile?.shirt}}</h4>
        <p matLine>Unit First Sergeant</p>
      </mat-list-item>
      <mat-divider mat-inset></mat-divider>
      <mat-list-item>
        <mat-icon matListAvatar>description</mat-icon>
        <h4 matLine>{{profile?.shirtEmail}}</h4>
        <p matLine>Unit First Sergeant Email</p>
      </mat-list-item>
    </div>
    <div *ngIf="isEditing">
      <form #studentProfileForm="ngForm">
        <div layout-gt-xs="row" layout-margin>
          <mat-form-field flex>
            <input matInput #contactNumberForm="ngModel" placeholder="Contact Number" [(ngModel)]="profile.contactNumber" name="contactNumber"
              maxlength="10" pattern="^\d+$" tdAutoTrim/>
            <mat-hint>
              <span [hidden]="contactNumberForm.pristine || !contactNumberForm.errors?.pattern" class="tc-red-600">Numbers only</span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div layout-gt-xs="row" layout-margin>
          <mat-form-field flex>
            <input matInput #homeStationForm="ngModel" placeholder="Home Station" [(ngModel)]="profile.homeStation" name="homeStation"
              maxlength="50" tdAutoTrim/>
          </mat-form-field>
        </div>
        <div layout-gt-xs="row" layout-margin>
          <mat-form-field flex>
            <input matInput #unitCommanderForm="ngModel" placeholder="Unit Commander" [(ngModel)]="profile.commander" name="unitCommander"
              maxlength="50" tdAutoTrim/>
          </mat-form-field>
        </div>
        <div layout-gt-xs="row" layout-margin>
          <mat-form-field flex>
            <input matInput #unitCommanderEmailForm="ngModel" placeholder="Unit Commander Email" [(ngModel)]="profile.commanderEmail"
              name="unitCommanderEmail" maxlength="50" tdAutoTrim/>
          </mat-form-field>
        </div>
        <div layout-gt-xs="row" layout-margin>
          <mat-form-field flex>
            <input matInput #unitShirtForm="ngModel" placeholder="Unit First Sergeant" [(ngModel)]="profile.shirt" name="shirt" maxlength="50"
              tdAutoTrim/>
          </mat-form-field>
        </div>
        <div layout-gt-xs="row" layout-margin>
          <mat-form-field flex>
            <input matInput #shirtEmailForm="ngModel" placeholder="Unit First Sergeant Email" [(ngModel)]="profile.shirtEmail" name="shirtEmail"
              maxlength="50" tdAutoTrim/>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div class="pad-top-sm pad-bottom-sm" fxLayout="row">
          <div fxFlex></div>

          <button mat-stroked-button color="primary" type="button" class="text-upper" (click)="cancelStudentSave();">Cancel</button>

          <span class="pad-right-xs"></span>
          <button mat-raised-button color="primary" type="button" [disabled]="studentProfileForm.pristine || !studentProfileForm.valid" (click)="saveStudentProfile()"
            class="text-upper">Save</button>
          <span class="pad-right-xs"></span>
        </div>
      </form>
    </div>
  </mat-list>
  <div *ngIf="!isEditing">
    <mat-divider></mat-divider>
    <mat-card-actions fxLayoutAlign="end">
      <button mat-raised-button color="primary" (click)="editStudentProfile()" type="button" mat-button color="primary" class="text-upper">Edit</button>
    </mat-card-actions>
  </div>
</div>