<td-layout-nav logo="" toolbarTitle="ECAT - Profile">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="width">
    <mat-card>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>About Me</ng-template>
          <div *tdLoading="'profileLoading'">
            <mat-list>
              <h3 matSubheader>Basic Information</h3>
              <mat-list-item>
                <mat-icon matListAvatar>account_box</mat-icon>
                <h4 matLine>{{prettyName}}</h4>
                <p matLine>Name</p>
              </mat-list-item>
              <mat-divider [inset]="true"></mat-divider>
              <mat-list-item>
                <mat-icon matListAvatar>description</mat-icon>
                <h4 matLine>{{user?.email}}</h4>
                <p matLine>Email</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 matSubheader>Additional Information</h3>
              <div *ngIf="!isEditing">
                <mat-list-item>
                  <mat-icon matListAvatar>description</mat-icon>
                  <h4 matLine>{{user?.mpGender}}</h4>
                  <p matLine>Gender</p>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  <mat-icon matListAvatar>description</mat-icon>
                  <h4 matLine>{{user?.mpAffiliation}}</h4>
                  <p matLine>Affiliation</p>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  <mat-icon matListAvatar>description</mat-icon>
                  <h4 matLine>{{user?.mpComponent}}</h4>
                  <p matLine>Military Component</p>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  <mat-icon matListAvatar>description</mat-icon>
                  <h4 matLine>{{user?.mpPaygrade}}</h4>
                  <p matLine>Pay Grade</p>
                </mat-list-item>
              </div>
              <div *ngIf="isEditing">
                <form #profileForm="ngForm">

                  <div class="pad-left-md">
                    <mat-form-field>
                      <mat-select #genderForm="ngModel" pattern="^((?!Unknown).)*$" placeholder="Gender" [(ngModel)]="user && user.mpGender" name="gender"
                        required>
                        <mat-option [value]="gender.female">Female</mat-option>
                        <mat-option [value]="gender.male">Male</mat-option>
                        <mat-option [value]="gender.other">Other</mat-option>
                        <mat-option [value]="gender.unk">[Select Your Gender]</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-hint>
                      <span class="tc-red-600 pad-left-xs">
                        <span [hidden]="!genderForm.errors?.required">Required</span>
                        <span [hidden]="!genderForm.errors?.pattern">Required</span>
                      </span>
                    </mat-hint>
                  </div>
                  <div class="pad-left-md">
                    <mat-form-field>
                      <mat-select #affiliationForm="ngModel" pattern="^((?!Unknown).)*$" placeholder="Affiliation" [(ngModel)]="user && user.mpAffiliation"
                        (ngModelChange)="updatePayGradeList()" invalidAffiliation="Unknown" name="affiliation" required>
                        <mat-option *ngFor="let affiliation of affiliationList | filterUnknownPipe" [value]="affiliation.value">
                          {{affiliation.value}}
                        </mat-option>
                        <mat-option value="Unknown">[Select Your Military Affiliation]</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-hint>
                      <span class="tc-red-600 pad-left-xs">
                        <span [hidden]="!affiliationForm.errors?.required">Required</span>
                        <span [hidden]="!affiliationForm.errors?.pattern">Required</span>
                      </span>
                    </mat-hint>
                  </div>
                  <div class="pad-left-md">
                    <mat-form-field>
                      <mat-select #componentForm="ngModel" placeholder="Military Component" [(ngModel)]="user && user.mpComponent" pattern="^((?!Unknown).)*$"
                        name="militaryComponent" required>
                        <mat-option *ngFor="let component of componentList | filterUnknownPipe" [value]="component.value">
                          {{component.value}}
                        </mat-option>
                        <mat-option value="Unknown">[Select Your Military Component]</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-hint>
                      <span class="tc-red-600 pad-left-xs">
                        <span [hidden]="!componentForm.errors?.required">Required</span>
                        <span [hidden]="!componentForm.errors?.pattern">Required</span>
                      </span>
                    </mat-hint>
                  </div>
                  <div class="pad-left-md">
                    <mat-form-field>
                      <mat-select #paygradeForm="ngModel" placeholder="Paygrade" [(ngModel)]="user && user.mpPaygrade" pattern="^((?!Unknown).)*$"
                        name="paygrade" required>
                        <mat-option *ngFor="let grade of payGradeList | filterUnknownPipe" [value]="grade.prop">
                          {{grade.value}}
                        </mat-option>
                        <mat-option value="Unknown">[Select Your Paygrade]</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-hint>
                      <span class="tc-red-600 pad-left-xs">
                        <span [hidden]="!paygradeForm.errors?.required">Required</span>
                        <span [hidden]="!paygradeForm.errors?.pattern">Required</span>
                      </span>
                    </mat-hint>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="pad-top-sm pad-bottom-sm" fxLayout="row">


                    <div fxFlex></div>
                    <button mat-stroked-button color="primary" type="button" class="text-upper" (click)="cancelSave();">Cancel</button>
                    <span class="pad-right-xs"></span>
                    <button mat-raised-button color="primary" type="button" [disabled]="profileForm.pristine || !profileForm.valid" (click)="saveProfile()"
                      class="text-upper">Save</button>
                    <span class="pad-right-xs"></span>

                  </div>
                </form>
              </div>
            </mat-list>
            <div *ngIf="!isEditing">
              <mat-divider></mat-divider>
              <mat-card-actions fxLayoutAlign="end">
                <button mat-raised-button color="primary" (click)="editProfile()" type="button" mat-button color="primary" class="text-upper">Edit</button>
              </mat-card-actions>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngIf="userRoles?.isStudent">
          <ng-template mat-tab-label>Student</ng-template>
          <div *ngIf="user">
            <ecat-profile-student [profile]="user.student"></ecat-profile-student>
          </div>
        </mat-tab>
        <mat-tab *ngIf="userRoles?.isFaculty">
          <ng-template mat-tab-label>Faculty</ng-template>
          <div *ngIf="user">
            <ecat-profile-faculty [profile]="user.faculty"></ecat-profile-faculty>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</td-layout-nav>