<td-layout-nav logo="" toolbarTitle="ECAT - Dashboard">
    <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
    </button>
    <td-layout-card-over cardTitle="Welcome" cardWidth="75">
        <mat-card-content>
            <h2 class="tc-red-800 mat-title">Notice - Message From Admin</h2>
            <p>ECAT is designed to work with the latest browser technology. There will be compatibility issues with older versions
                of Internet Explorer. If you are having issues using ECAT please upgrade your browser to Chrome, Firefox,
                or Microsoft Edge (formerly IE) or ask your Instructor for assistance.</p>
        </mat-card-content>
    </td-layout-card-over>
    <td-layout-footer fxLayout="row">
        <div>
            Barnes Center for Enlisted Education
        </div>
        <div fxFlex></div>
        <div fxFlexAlign="end" class="version">
            v2.0Beta1.0
        </div>
    </td-layout-footer>
</td-layout-nav>