<div *ngIf="showUnstrat" class="text-center pad-top-sm" style="color:grey">
    Drag students from the left list to the right to stratify.
  </div>

<div fxLayout="row" fxLayoutGap="75px" class="pad-left-md pad-right-md pad-bottom-md pad-top-md">
  <mat-list id="unstratted" [dragula]='"bag-one"' [dragulaModel]='unstratted' fxFlex *ngIf='showUnstrat && !readOnly' style="background-color: #f9f9f9; min-height: 50px; border-width: 2px; border-style:dashed; border-color: #e0e0e0; padding-bottom: 10px">
    <mat-list-item *ngFor="let unstrat of unstratted" [id]="unstrat?.assesseePersonId" >
      <button mat-raised-button fxFlex class="text-left" style="cursor: move;"><mat-icon>drag_handle</mat-icon> {{unstrat?.studentAssessee?.rankName}}</button>
    </mat-list-item>
  </mat-list>
  
  <mat-list id="stratted" [dragula]='"bag-one"' [dragulaModel]='stratted' fxFlex style="background-color: #f9f9f9; min-height: 50px; border-width: 2px; border-style:dashed; border-color:#e0e0e0; padding-bottom:10px; " *ngIf='!readOnly' [ngClass]="(!showUnstrat)?'notopen':''">
    <mat-list-item *ngFor="let strat of stratted" [id]="strat?.assesseePersonId">
      <button mat-raised-button fxFlex style="cursor: move;">
        <div fxFlexLayout="row"  fxLayoutGap="10px">
          <mat-icon style="padding-top: 7px; vertical-align: middle;">drag_handle</mat-icon>
          <div>{{strat?.studentAssessee?.rankName}}</div>
          <div fxFlex></div> 
          <div><span style="color: #3e6d92; font-size:large" *ngIf="!showUnstrat"><strong>{{strat?.stratPosition}}</strong></span></div>
        </div>
      </button>
    </mat-list-item>
  </mat-list>

  <mat-list id="stratted" fxFlex class="notopen" style="min-height: 50px;" *ngIf='readOnly' [ngClass]="(!showUnstrat)?'notopen':''">
    <mat-list-item *ngFor="let strat of stratted" [id]="strat?.assesseePersonId">
        <button mat-raised-button disableRipple fxFlex style="cursor:default">
            <div fxFlexLayout="row"  fxLayoutGap="10px">
              <mat-icon style="padding-top: 7px; vertical-align: middle;">person</mat-icon>
              <div>{{strat?.studentAssessee?.rankName}}</div>
              <div fxFlex></div> 
              <div><span style="color: #3e6d92; font-size:large"><strong>{{strat?.stratPosition}}</strong></span></div>
            </div>
          </button>
    </mat-list-item>
  </mat-list>
</div>
<mat-divider></mat-divider>

<mat-card-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="primary" type="button" [disabled]="!isDirty()" (click)="cancel();">Cancel</button>
  <button mat-raised-button color="primary" type="button" [disabled]="!isComplete() || !isDirty()" (click)="saveChanges()">Save</button>
</mat-card-actions>


<!--mat-list>
  <mat-list-item>
    <div fxFlex="55"></div>
    <div fxFlex="10" class="pad-left-md md-body-1 tc-grey-500">Strat</div>
    <div fxFlex="15" class="pad-left-sm md-body-1 tc-grey-500"><span *ngIf="!readOnly">Proposed Change</span></div>
    <div fxFlex="10"></div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <!--<mat-list class="will-load">-->

  <!--ng-template let-member let-last="last" ngFor [ngForOf]="groupMembers">
    <mat-list-item>
      <mat-icon mat-list-avatar>person</mat-icon>
      <div fxFlex="55">
        <h3 class="md-subhead">{{member?.rankName}}</h3>
      </div>
      <div fxFlex="10">
        <h3>{{member?.statusOfStudent.stratedPosition}}</h3>
      </div>

      <div fxFlex="15" *ngIf="!readOnly">
        <div layout-margin>
          <mat-form-field>
            <input matInput memberStratForm="ngModel" [(ngModel)]="member.proposedStratPosition" (ngModelChange)="evaluateStrat(); isValid(); isPristine()"
              name="proposedMemberStrat" min="1" max="{{groupCount}}" type="number">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="10" *ngIf="!readOnly">
        <span *ngIf="isPristine()">
          <span *ngIf="member.stratIsValid">
              Valid
            </span>
          <span *ngIf="!member.stratIsValid">
            <span matTooltip="{{member.stratValidationErrors[0].cat}}" matTooltipPosition="above" class="tc-red-500" >Invalid</span>
          </span>
        </span>
      </div>
    </mat-list-item>
  </ng-template>
  
</mat-list-->