<mat-list fxHide.xs>
  <mat-list-item *ngIf="readOnly">
    <div flex="90">
    </div>
    <div flex="20">
      <mat-slide-toggle class="example-margin" [(ngModel)]="stratToggle" [color]="color" [checked]="checked" [disabled]="disabled">
        {{(stratToggle) ? 'Hide' : 'Show'}} Strats
      </mat-slide-toggle>
    </div>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListAvatar>person</mat-icon>
    <h3 matLine> {{user?.rankName}} </h3>
    <div flex="20" *ngIf="readOnly">
      <div *ngIf="stratToggle">
        <span class="mat-title">{{user?.statusOfPeer[user?.studentId].stratedPosition}}</span>
      </div>
    </div>
    <span flex="70" class="pad-right-lg tc-grey-700">
      <button mat-button (click)="assess(user.studentId)">
        <mat-icon>{{user?.assessText}}</mat-icon> 
        Assessment 
      </button>
    </span>
    <span flex="60" class="pad-right-lg tc-grey-500"></span>
    <span flex></span>
  </mat-list-item>
  <mat-divider class="bgc-dark-orange-700" [inset]="true"></mat-divider>
  <ng-template let-peer let-last="last" ngFor [ngForOf]="peers">
    <mat-list-item>
      <mat-icon matListAvatar>person</mat-icon>
      <h3 matLine> {{peer?.rankName}} </h3>
      <div flex="20" *ngIf="readOnly">
        <div *ngIf="stratToggle">
          <span class="mat-title">{{user?.statusOfPeer[peer?.studentId].stratedPosition}}</span>
        </div>
      </div>
      <span flex="70" class="pad-right-lg tc-grey-700">
        <button mat-button (click)="assess(peer.studentId)">
          <mat-icon>{{peer?.assessText}}</mat-icon> Assessment</button>
      </span>
      <span *ngIf="peer?.commentText === 'not_interested'" flex="60" class="pad-right-lg">

      </span>
      <span *ngIf="peer?.commentText !== 'not_interested'" flex="60" class="pad-right-lg tc-grey-700">
        <button mat-button *ngIf="peer?.commentText !== 'not_interested'" (click)="comment(peer)">
          <mat-icon>{{peer?.commentText}}</mat-icon> Comment</button>
        <!-- <span class="pad-left-sm" *ngIf="peer?.commentText === 'not_interested'">
          <mat-icon class="tab-icon">{{peer?.commentText}}</mat-icon> Comment</span> -->
      </span>
      <span flex></span>
    </mat-list-item>
    <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
  </ng-template>
</mat-list>

<div fxLayout="column" fxHide fxShow.xs fxLayoutAlign="center center">
  <div fxLayout="row" *ngIf="readOnly" class="pad-top-xs">
    <div fxFlex="90%">
    </div>
    <div fxFlex="10%">
      <mat-slide-toggle class="example-margin" [(ngModel)]="stratToggle" [color]="color" [checked]="checked" [disabled]="disabled">
        {{(stratToggle) ? 'Hide' : 'Show'}} Strats
      </mat-slide-toggle>
    </div>
  </div>

  <div class="main-border-bottom pad-left-md pad-bottom-xs">
    <h3 class="mat-subheading-1 pull-bottom-xs pad-bottom-xs">
      {{user?.rankName}}
      <span *ngIf="stratToggle && readOnly">
        <span class="mat-title"> - {{user?.statusOfPeer[user?.studentId].stratedPosition}}</span>
      </span>
    </h3>
    <div class="tc-grey-700 mat-body-1">
      <button mat-button (click)="assess(user.studentId)">
        <mat-icon>{{user?.assessText}}</mat-icon> Assessment </button>
    </div>
  </div>
  <ng-template let-peer let-last="last" ngFor [ngForOf]="peers">
    <div class="border-bottom pad-left-md pad-bottom-xs">
      <h3 class="mat-subheading-1 pull-bottom-xs pad-bottom-sx">
         {{peer?.rankName}} 
         <span *ngIf="stratToggle && readOnly">
            <span class="mat-title"> - {{user?.statusOfPeer[peer?.studentId].stratedPosition}}</span>
          </span>
        </h3>
      <div fxLayout="row">
        <span fxFlex="50%" class="mat-body-1 tc-grey-700">
          <button mat-button (click)="assess(peer.studentId)">
            <mat-icon>{{peer?.assessText}}</mat-icon> Assessment</button>
        </span>
        <span fxFlex="50%" class="mat-body-1 tc-grey-700">
          <button mat-button *ngIf="peer?.commentText !== 'not_interested'" (click)="comment(peer)">
            <mat-icon>{{peer?.commentText}}</mat-icon> Comment</button>
          <span class="pad-left-sm" *ngIf="peer?.commentText === 'not_interested'">
            <mat-icon class="tab-icon">{{peer?.commentText}}</mat-icon> Comment</span>
        </span>
      </div>
      <span flex></span>
    </div>
  </ng-template>
</div>