<mat-card class="width">
  <mat-card-title>
    <div fxLayout="row">
      <div fxFlex>
        <button mat-raised-button color="primary" [routerLink]="['../..']">Back</button>
      </div>
      <div fxFlex="grow" class="text-center">
        {{course?.name}} - {{course?.classNumber}} Enrollments
      </div>
      <div fxFlex></div>
      <div fxLayout="row">
        <button mat-raised-button color="primary" (click)="this.pollEnrollments()">Poll Enrollments</button>
        <button mat-icon-button (click)="this.refreshData()"><mat-icon>autorenew</mat-icon></button>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">local_library</mat-icon>
          <span class="pad-left-xs">Students</span>
        </ng-template>
        <span fxFlex="100" class="text-center pad-top-xl mat-title" *ngIf="course?.students.length === 0">No student enrollments for this course in ECAT.</span>
        <div *ngIf="course?.students.length > 0">
          <td-paging-bar #pagingBar pageLinkCount="10" [initialPage]="1" [firstLast]="true" [total]="course?.students.length" (change)="change($event)">
            <span td-paging-bar-label hide-xs>Row per page:</span> {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
          </td-paging-bar>
          <mat-list>
            <mat-list-item>
              <span fxFlex="30">LAST NAME</span>
              <span fxFlex="30">FIRST NAME</span>
              <span fxFlex="30">GRADE</span>
              <span fxFlex="30">AFFILIATION</span>
              <span fxFlex="30">COMPONENT</span>
            </mat-list-item>
            <mat-list-item *ngFor="let courseStudent of studentsPage">
              <span fxFlex="30">{{courseStudent.student?.person.lastName}}</span>
              <span fxFlex="30">{{courseStudent.student?.person.firstName}}</span>
              <span fxFlex="30">{{courseStudent.student?.person.mpPaygrade}}</span>
              <span fxFlex="30">{{courseStudent.student?.person.mpAffiliation}}</span>
              <span fxFlex="30">{{courseStudent.student?.person.mpComponent}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">record_voice_over</mat-icon>
          <span class="pad-left-xs">Faculty</span>
        </ng-template>
        <div *ngIf="course?.faculty.length === 0">
          <span fxFlex="100" class="text-center pad-top-xl mat-title">No faculty enrollments for this course in ECAT.</span>
        </div>
        <div *ngIf="course?.faculty.length > 0">
          <mat-list>
            <mat-list-item>
              <span fxFlex="30">LAST NAME</span>
              <span fxFlex="30">FIRST NAME</span>
              <span fxFlex="30">GRADE</span>
              <span fxFlex="30">AFFILIATION</span>
              <span fxFlex="30">COMPONENT</span>
            </mat-list-item>
            <mat-list-item *ngFor="let courseFaculty of course?.faculty">
              <span fxFlex="30">{{courseFaculty.facultyProfile?.person.lastName}}</span>
              <span fxFlex="30">{{courseFaculty.facultyProfile?.person.firstName}}</span>
              <span fxFlex="30">{{courseFaculty.facultyProfile?.person.mpPaygrade}}</span>
              <span fxFlex="30">{{courseFaculty.facultyProfile?.person.mpAffiliation}}</span>
              <span fxFlex="30">{{courseFaculty.facultyProfile?.person.mpComponent}}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>